# Servidor
PORT=
NODE_ENV=

# Base de datos
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Administrador
ADMIN_NAME=
ADMIN_LAST_NAME=
ADMIN_DNI=
ADMIN_CATEGORY=
ADMIN_WORK_AREA=
ADMIN_CODE=
ADMIN_ROLE=

API_URL=http://localhost:3000/api