<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Cuenta</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- css -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/form.style.css">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="form-card">
            <div class="header">
                <h1 class="title">Actualizar Perfil</h1>
                <p class="subtitle">Edita información personal</p>
            </div>
            <form id="updateForm" novalidate>
                <!-- Alert -->
            <div id="alert" class="alert d-none" role="alert"></div>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="name">Nombres</label>
                    </div>   

                    <div class="col-md-9">
                        <input 
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Ingresa nombres"
                            autocomplete="off"
                            required
                        >
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="lastName">Apellidos</label>
                    </div>   

                    <div class="col-md-9">
                        <input type="text" id="lastName" name="lastName" placeholder="Ingresa apellidos" autocomplete="off" required>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="dni">DNI</label>
                    </div>   

                    <div class="col-md-9">
                        <input type="text" id="dni" name="dni" placeholder="Ingresa DNI" maxlength="8" autocomplete="off" required>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="code">Código</label>
                    </div>   

                    <div class="col-md-9">
                        <input type="text" id="code" name="code" placeholder="Ingresa código de entrada" autocomplete="off" required>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="category">Categoría</label>
                    </div>

                    <div class="col-md-9">
                        <select id="category" name="category" required>
                            <option value="">Selecciona una categoría</option>
                            <option value="Trabajador Planilla">Trabajador planilla</option>
                            <option value="Personal Habitual">Personal habitual</option>
                            <option value="Practicante">Practicante</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="workArea">Área de trabajo</label>
                    </div>

                    <div class="col-md-9">
                        <select id="workArea" name="workArea" required>
                            <option value="">Selecciona un área</option>
                            <option value="Administración">Administración</option>
                            <option value="Recursos Humanos">Recursos Humanos</option>
                            <option value="Restaurante">Restaurante</option>
                            <option value="Marketing">Marketing</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex justify-content-end gap-2 mt-4">
                    <button type="button" class="btn btn-secondary" id="backBtn">
                        Volver
                    </button>

                    <button type="submit" class="btn btn-primary" id="submitBtn">
                        Actualizar
                    </button>
                </div>

            </form>
        </div>
    </div>
    <script type="module" src="/js/users/ui/update_user.controller.js"></script>
</body>
</html>